.About__title {
  color: var(--accentYellow);
  text-transform: uppercase;
  font-size: 1.5rem;
}

.About__subTitle {
  color: var(--accentBlue);
  font-size: 3.2rem;
}

.About__info {
  color: var(--textOpacity);
  font-size: 1.5rem;
  line-height: 1.4;
}