.About {
  padding: 2.1rem 0;
}

.About__content{
  display: flex;
  flex-direction: column;
}

.About__imgContainer {
  width: 95%;
  margin: 0 auto;
}

.About__img {
  width: 100%;
}

.About__bioContent {
  width: 95%;
  margin: 0 auto ;
}

.About__title {
  color: var(--accentYellow);
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 95%;
  margin: 2.1rem auto;
}
.About__subTitle {
  color: var(--accentBlue);
  font-size: 3.2rem;
  width: 95%;
  margin: 2.1rem auto;
}

.About__bio {
  color: var(--textOpacity);
  font-size: 1.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.About__btn {
  width: 100%;
  padding: 1.5rem 3.5rem;
  background-color: transparent;
  border: 3px solid var(--accentYellow);
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--accentBlue);
  cursor: pointer;
  margin-top: 1rem;
  transition: all ease 0.5s;
}

.About__btn:hover {
  background-color: var(--accentYellow);
  border-color: transparent;
}

@media (min-width: 768px) {
  .About__content{
    flex-direction: row;
  }

  .About__imgContainer {
    width: 45%;
    align-self: center;
  }

  .About__bioContent {
    width: 45%;
  }
}