.Contact {
  padding: 2.1rem 0;
  display: flex;
  flex-direction: column;
}

.Contact__title {
  color: var(--accentYellow);
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 95%;
  margin: 2.1rem auto;
}

.Contact__subTitle {
  color: var(--accentBlue);
  font-size: 3.2rem;
  width: 95%;
  margin: 2.1rem auto;
}

.Contact__formContainer {
  width: 95%;
  margin: 0 auto;
}

.Contact__form{
  display: flex;
  flex-direction: column;
}

.Contact__inputs {
  display: flex;
  flex-direction: column;
}

.Contact__formField,
.Contact__MessageField {
  margin-bottom: 1rem;
}

.Contact__label {
  color: var(--textOpacity);
  font-size: 1.5rem;
}

.Contact__input {
  margin-top: 1rem;
  width: 100%;
  height: 50px;
  border: 3px solid var(--accentYellow);
  border-radius: 0.6rem;
}

.Contact__mesage {
  margin-top: 1rem;
  width: 100%;
  height: 235px;
  border: 3px solid var(--accentYellow);
  border-radius: 0.6rem;
}

.Contact__btn {
  width: 100%;
  padding: 1.5rem 3.5rem;
  background-color: transparent;
  border: 3px solid var(--accentYellow);
  border-radius: 0.5rem;
  font-size: 2rem;
  color: var(--accentBlue);
  cursor: pointer;
  margin-top: 1rem;
  transition: all ease 0.5s;
}

.Contact__btn:hover {
  background-color: var(--accentYellow);
  border-color: transparent;
}

@media (min-width: 768px) {
  .Contact__form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .Contact__inputs {
    flex-basis: 49%;
  }

  .Contact__MessageField {
    flex-basis: 49%;
  }

  .Contact__btn {
    flex-basis: 100%;
  }

  .Contact__formContainer {
    width: 70%
  }
}