.Footer {
  background-color: var(--greyBg);
  padding: 2.1rem 0;
}

.Footer__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer__copyright {
  color: var(--accentBlue);
  font-size: 2rem;
}

.Footer__socials {
  display: flex;
  justify-content: space-evenly;
}

.Footer__socialItem {
  margin: 1rem;
  list-style: none;
}

.Footer__socialLink {
  color: var(--accentYellow);
  font-size: 2rem;
}


@media (min-width: 1280px) {
  .Footer__content {
    flex-direction: row;
    justify-content: space-evenly;
  }
}