.Header {
  height: 100vh;
  background: linear-gradient(
      122deg,
      rgba(24, 33, 65, 0.7) 0%,
      rgba(24, 33, 65, 0.7) 100%
    ),
    url("../../assets/header-img.png") center center no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  position: relative;
}

.Header__navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.Header__logo,
.Header__navLink,
.Header__title,
.Header__subTitle {
  color: var(--white);
}

.Header__logo {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3.2rem;
  position: relative;
  width: 100%;
  text-align: center;
}

.Header__logo::after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--accentYellow);
  position: absolute;
  right: 34%;
  bottom: 20%;
}

.Header__navigation {
  flex-basis: 100%;
}

.Header__navContent {
  display: flex;
  justify-content: center;
}

.Header__navItem {
  margin: 1rem;
  list-style: none;
}

.Header__navLink {
  text-decoration: none;
  font-size: 2rem;
}

.Header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 12%;
}

.Header__title {
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: 0.8rem;
  font-weight: 700;
  padding: 2rem 0;
}

.Header__subTitle {
  font-size: 3rem;
}

.Header__highlight {
  color: var(--accentYellow);
}

.Header__wave {
  font-size: 2rem;
}

.Header__highlight {
  font-style: italic;
}
