.Header {
  height: 100vh;
  background: url("../../assets/header-bg.svg") center center no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 1fr
}

.Header__navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-area: 1 / 1 / 2 / -1;
  align-self: start;
}

.Header__logo,
.Header__navLink,
.Header__title,
.Header__subTitle {
  color: var(--white);
}

.Header__logo {
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 3.2rem;
  position: relative;
  text-align: center;
}

.Header__logo::after {
  content: " ";
  width: 15px;
  height: 15px;
  border-radius: 100%;
  background-color: var(--accentYellow);
  position: absolute;
  right: -17%;
  bottom: 20%;
}

.Header__navigation {
  flex-basis: 100%;
}

.Header__navContent {
  display: flex;
  justify-content: center;
}

.Header__navItem {
  margin: 1rem;
  list-style: none;
}

.Header__navLink {
  text-decoration: none;
  font-size: 2rem;
}

.Header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  grid-area: 2 / 1 / -1 / -1;
}

.Header__title {
  font-size: 4.8rem;
  line-height: 1.2;
  letter-spacing: 0.8rem;
  font-weight: 700;
  padding: 2rem 0;
}

.Header__subTitle {
  font-size: 3rem;
}

.Header__highlight {
  color: var(--accentYellow);
}

.Header__wave {
  font-size: 2rem;
}

.Header__highlight {
  font-style: italic;
}


@media (min-width: 768px) {
  .Header__navbar {
    flex-wrap: nowrap;
    justify-content: space-evenly
  }

  .Header__logo::after {
    bottom: 35%;
    right: -16%;
  }

  .Header__navigation {
    flex-basis: initial;
  }

  .Header__title {
    font-size: 6rem;
  }

  .Header__subTitle {
    font-size: 3.5rem;
  }
}

@media (min-width: 1280px) {
  .Header__logo {
    font-size: 4rem;
  }
  
  .Header__logo::after {
    height: 22px;
    width: 22px;
    bottom: 17%;
    right: -20%;
  }

  .Header__title{
    font-size: 7.2rem;
  }

  .Header__subTitle{
    font-size: 4rem;
  }

}