.Work {
  background-color: var(--greyBg);
}

.Work__title {
  color: var(--accentYellow);
}

.Work__subTitle {
  color: var(--accentBlue);
}

.Work__projectTitle {
 color: var(--accentBlue);
}

.Work__projectInfo {
  color: var(--blueOpacity)
}