.Work {
  background-color: var(--greyBg);
  padding: 2.1rem 0;
  display: flex;
  flex-direction: column;
}

.Work__title {
  color: var(--accentYellow);
  text-transform: uppercase;
  font-size: 1.5rem;
  width: 95%;
  margin: 2.1rem auto 1rem;
}

.Work__projects {
  display: flex;
  flex-wrap: wrap;
  width: 95%;
  margin: 0 auto;
  justify-content: space-between;
}

.Work__project {
  margin-bottom: 2.1rem;
  flex-basis: 100%;
  justify-content: space-evenly;
}

.Work__subTitle,
.Work__projectTitle {
  color: var(--accentBlue);
}

.Work__subTitle {
  font-size: 3.2rem;
  width: 95%;
  margin: 0 auto 2.1rem;
}
.Work__projectImgContainer {
  width: 100%;
  margin: 0 auto;
}

.Work__projectImg {
  width: 100%;
}

.Work__projectTitle {
  font-size: 2rem;
  margin: 1rem 0;
}

.Work__projectInfo {
  color: var(--textOpacity);
  line-height: 1.4;
  font-size: 1.5rem;
}

@media (min-width: 768px) {
  .Work__project {
    flex-basis: 49%;
  }
}

@media (min-width: 1280px) {
  .Work__project {
    flex-basis: 30%;
  }

  .Work__projectImgContainer {
    max-width: 500px;
    margin: 0;
  }
}
