/* Variables */
@import "./variables.css";

/* Base Styles */

@import "./base.css";

/* Section Styles */
@import "./sectionStyles/Header.css";
@import "./sectionStyles/About.css";
@import "./sectionStyles/Work.css";
@import "./sectionStyles/Contact.css";
@import "./sectionStyles/Footer.css";